.sample-data-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2rem;
    width: 6rem;
}

.sample-data-button {
    border: none;
    padding: 0.5rem;
    background-color: #BBE6CA;
    color: #123024;
    cursor: pointer;
    font-size: 0.6rem;
    border-radius: 2rem;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 500px) {
    .sample-data-button {
        font-size: 0.8rem;
    }
}